{   "tabWidth": 4,   "useTabs": false,   "arrowParens": "always",   "bracketSpacing": true,   "endOfLine": "lf",   "singleQuote": true,   "trailingComma": "es5",   "printWidth": 80,   "quoteProps": "as-needed" }